version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: "bash ./build.sh"
  test:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: "bash ./test.sh"
  deploy:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: "bash ./test.sh"
    
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      = test
      - deploy:
         context: stage
         filters:
          branches:
           only:
              - master        