version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: "bash ./build.sh"
  test:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: "bash ./test.sh"
  deploy-stage:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: "bash ./deploy.sh"
  deploy-prod:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: "bash ./deploy.sh"
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
      - deploy-stage:
         context: stage
         filters:
          branches:
           only:
              - staging
      - deploy-prod:
         context: prod
         filters:
          branches:
           only:
              - master
